
html{
    border: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}


nav{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(253, 242, 233);
    position: relative;
    height: 50px;

}
.personally{
    width: 150px;
}
.logo{
    color: #fff;
}
.i{
    width: 200px;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;

}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color:  #e67e22;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}
.menu-icon i{
   color: #fff;
   font-size: 30px;
}

#menuList button{
    background: #e67e22;
    width: 150px;
    border-radius: 10px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
}


@media (max-width:600px) {
    nav{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 50px; 
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #fff;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.7s;
    }
}



.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 242, 233);
    padding: 40px;
}
.first{
    padding: 0;
    margin: 0;
    
}
.subdiv1{
    text-align: left;
    padding: 0;
    margin: 0;
}
.subdiv1 h1{
    font-size: 3.2rem;
    color: rgb(51, 51, 51);
    letter-spacing: 0.52px;
    font-weight: 700;
}
.subdiv1 h3{
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
}
.b_t-1{
    width: 220px;
    height: 50px;
    margin-right: 25px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(230, 126, 34);
    border: none; 
    cursor: pointer;
}
.b_t-2{
    width: 220px; 
    height: 50px; 
    font-size: 15px; 
    color: rgb(85, 85, 85); 
    border-radius: 10px; 
    background-color: rgb(255, 255, 255); 
    border: none; 
    cursor: pointer;
}
.subdiv2{
    padding-top: 30px;
    padding-bottom: 50px;
}
.deliverymeals{
    display: flex;
    align-items: center;
}
.deliverymeals span img{
    height: 3.0rem;
    width: 3.0rem;
    margin-right: -1.6rem;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(253, 242, 233);
    border-image: initial;
}
.deliverymeals h4{
    margin-left: 35px;
    font-size: 20px;
    font-weight: 600;
}
.deliverymeals span{
    color: rgb(207, 113, 31);
    font-weight: 700;
}

.subdiv3 img{
    width: 510px;
    margin: 30px;
    height: 600px;
}




.div2{
    padding: 90px;
}
.subsec2-1{
    display: grid;
    text-align: center;
    
}
.subsec2-1 h3{
    color: rgb(136, 136, 136);
    letter-spacing: 0.75x;
}
.companies{
    display: flex;
      justify-content: space-around;
}
.subsec2-1 span img{
    height: 2rem;
    width: 11rem;
    filter: brightness(0);
    opacity: 0.5;
}

.subsec2-2{
   margin-top: 90px;
}
.subsec2-2 span{
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(207, 113, 31);
    font-weight: 500;
}
.subsec2-2 h2{
    font-size: 44px;
}
.container-1 , .container-2 , .container-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    text-align: left;
    
}
.subcont1 , .subcont2 , .subcont3{
    text-align: left;
    width: 50%;
    float: left;
}
.subcont1 h1 , .subcont2 h1 , .subcont3 h1{
    font-size: 80px;
    font-weight: 600;
    color: rgb(221, 221, 221);
    margin-bottom: 1.2rem;
    
}
.subcont1 h3 , .subcont2 h3 , .subcont3 h3{
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 3rem;
}
.subcont1 p , .subcont2 p , .subcont3 p{
    font-size: 1.3rem;
    line-height: 1.3;
    text-align: left;
    margin-right: 40px;
   color: #555555;
}
/* .container-1-img , .container-3-img{
    width: 50%;
    padding-left: 120px;
}
.container-2-img {
    width: 50%;
    padding-right: 100px;
} */
.container-1 img , .container-2 img , .container-3 img{
    margin: 100px;
    height: 55%;
    width: 35%;
}

/* section3 */
.section3{
    padding: 0px 100px 100px 100px;
}
.subsec3-1{
 text-align: center;
 padding-top: 20px;
}
.subsec3-1 span{
    font-size: 16px;
    color: rgb(207, 113, 31);
    font-weight: 500;
}
.subsec3-1 h2{
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 4.6rem;
}

.subsec3-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.meal-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 10px;
    overflow :hidden;
    transition: all 0.25s;
}
.meal-box:hover{
    transform: translateY(-8px);
    
}
    
.meal-box img{
    width: 330px;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
}
.mealcontent{
    display: grid;
    padding: 30px !important;
    text-align: left;
   
}
.spa{
   padding-left: 40px;
}
#span1{
    background-color: rgb(81, 207, 102);
    text-transform: uppercase;
    width: 100px;
    display: inline-block;
    font-size: 0.9rem;
    color: rgb(51, 51, 51);
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
    text-align: center;
}
.mealcontent h3{
    color: rgb(51, 51, 51);
    font-size: 23px;
    font-weight: 600;
}
.mealcontent ul{
    gap: 1.6rem;
    line-height: 1.5;
}
.mealcontent ul{
    color: rgb(230, 126, 34);
}
.mealcontent ul li{
    font-size: 22px;
    color: #555555;
    list-style-type: none;
}

.meal-box-2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 10px;
    overflow :hidden;
    transition: all 0.25s ;
}
.meal-box-2:hover{
    transform: translateY(-8px);
    
}
.meal-box-2 img{
    width: 330px;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
}
.mealcontent-2{
    display: grid;
    padding: 30px !important;
    text-align: left;
   
}
.spa{
    padding-left: 40px;
 }
#span1-2{
    background-color: rgb(81, 207, 102);
    text-transform: uppercase;
    width: 50px;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
    text-align: center;
}
#span1-3{
    background-color: rgb(255, 212, 59);
    text-transform: uppercase;
    width: 50px;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
}
.mealcontent-2 h3{
    color: rgb(51, 51, 51);
    font-size: 25px;
    font-weight: 600;
}
.mealcontent-2 ul{
    gap: 1.6rem;
    line-height: 1.5;
}

.mealcontent-2 ul li{
    font-size: 22px;
    color: #555555;
    list-style-type: none;
}

.diet{
    width: 330px;
    height: 500px;
}
.diet h1{
    font-size: 27px;
    font-weight: 900;
    color: rgb(51, 51, 51);;
}
.diet ul{
    display: contents;
}
.diet ul li{
    list-style-type: none;
    line-height: 2.25;
    font-size: 1.3rem;
}
.diet ul i{
    width: 50px;
    color: rgb(230, 126, 34);
}
.under{
    display: inline-block;
    margin-top: 50px;
    color: rgb(230, 126, 34);
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid currentcolor;
    transition: 0.3s;

}

/* section4 */

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 242, 233);
    padding: 60px;
}
.subsec4-1{
    width: 50%;
}
.subsec4-1-1 h3{
    text-transform: uppercase;
    color: rgb(230, 126, 34);
    font-size: 1.6rem;
    font-weight: 500;
}
.subsec4-1-1 p{
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 1.5;
}
.subsec4-1-2 , .subsec4-1-3{
    display: flex;
}
.testimonials img{
    border-radius: 50%;
    width: 4.4rem;
}
.testimonials p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555555;
}
.testimonials h5{
    color: rgb(111, 111, 111);

}
.subsec4-2{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
     

}
.subsec4-2 img{
    width: 181px;
    height: 181px;
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    transition: 0.25s ease;
}
    
.subsec4-2 img:hover{
    transform: scale(1.1);
    
}
 /* section5 */
.section5{
    display: grid;
    align-items: center;
    text-align: left !important;
    padding: 90PX;
}
.subsec5-1 h3{
    text-transform: uppercase;
    color: rgb(230, 126, 34);
    font-size: 1.1rem;
    font-weight: 500;

}
.subsec5-1 p{
    font-size: 2.0rem;
    font-weight: 600;
    
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    padding: 0px 3.2rem;
    margin: 0px auto;

}
.pricing-1{
    /* display: grid;
    border: 2px solid rgb(253, 242, 233);
    width: 350px;
    border-radius: 11px;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    margin: 30px; */
    justify-self: end;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 242, 233);
    border-image: initial;
    padding: 4.2rem;
    width: 19rem;
    border-radius: 11px;

}
.pricing-1 ul{
    display: grid;
    line-height: 3rem;
    margin: 0;
    padding: 0;
}
.pricing-1 ul li{
    list-style-type: none;
    font-size: 1.1rem;
    color: rgb(111, 111, 111);

}
.pricing-1 ul li i{
    width: 30px;
    color: rgb(230, 126, 34);
}

.pricing-1 button{
    background-color: rgb(230, 126, 34);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 260px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricing-2{
    text-align: center;

}
.pricing-2 h3{
    text-transform: uppercase;
    color: rgb(230, 126, 34);
    font-size: 25px;
    margin: 0;
    padding: 0;
}

 .pricing-2 h2{
    font-size: 6rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
 }
 .pricing-2 h2 span{
    font-size: 2rem;
    font-weight: 500;
}
.pricing-2 h4{
    font-size: 1rem;
    color: rgb(111, 111, 111);
}





.pricing-3{
    margin: 30px;
    padding: 4rem;
    justify-self: end;
    border-width: 2px;
    border-style: solid;
    border: 2px solid rgb(253, 242, 233);
    background-color: rgb(253, 242, 233);
    border-image: initial;
    padding: 4.2rem;
    width: 19rem;
    border-radius: 11px;
}

.pricing-4{
    text-align: center;

}
.pricing-4 h3{
    text-transform: uppercase;
    color: rgb(230, 126, 34);
    font-size: 25px;
    margin: 0;
    padding: 0;
}

 .pricing-4 h2{
    font-size: 6rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
 }
 .pricing-4 h2 span{
    font-size: 2rem;
    font-weight: 500;
}
.pricing-4 h4{
    font-size: 1rem;
    color: rgb(111, 111, 111);
}
.pricing-3 ul{
    display: grid;
    line-height: 3rem;
    margin: 0;
    padding: 0;
}
.pricing-3 ul li{
    list-style-type: none;
    font-size: 1.1rem;
    color: rgb(111, 111, 111);

}
.pricing-3 ul li i{
    width: 30px;
    color: rgb(230, 126, 34);
}
.pricing-3 button{
    background-color: rgb(230, 126, 34);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 260px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}   
.section5 h5{
    text-align: center;
    color: rgb(111, 111, 111);
    font-size: 1rem;
}
.feature{
    display: flex;
    padding-top: 50px;
}
.iconn{
    margin: 20px;
}
.icon{
    color: rgb(230, 126, 34);
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    background-color: rgb(253, 242, 233);
    margin-bottom: 3.2rem;
    padding: 1rem;
    border-radius: 50%;
    display: grid;
}

.icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.iconn h3{
    color: black;
    font-size: 1.4rem;
    color: rgb(51, 51, 51);
    font-weight: 700;
    margin-bottom: 1.6rem;

}
.iconn h4{
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(111, 111, 111);

}


/* .section-cta{

    max-width: 120rem;
    padding: 5rem;
    margin: 0px auto;

}
.cta{
    display: flex;
    flex-direction: row;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    max-width: 80vw;
}
.cta-text{
    padding: 2rem ;
    color: #45260a;
}
.cta-text h2{
    font-size: 3rem;
    line-height: 1.5;
}
.cta-text p{
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 4rem;
}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.2rem;
    overflow: hidden;
}
.cta-form label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.cta-form input , .cta-form select{
    width: 350px;
    height: 50px;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}
.cta-form button {
    width: 350px;
    height: 50px;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 9px;
    margin-top: 40px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.cta-form button:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.cta-img-box{
    max-width: 40%;
}
.cta-img-box img{
    overflow: visible;
   object-fit: cover;
   object-position: center;
   max-width: 100%;
   height: 100%;
} */

.form-section{
    display: flex;
    max-width: 70rem;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding-bottom: 50px;
}
.main{
    display: flex;
    border-radius: 10px !important;
    background-color: #e67e22;
    border-radius: 20px;
    width: 70rem;
}
.form-1{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2.8rem 4.0rem 4.0rem;
    color: #45260a;
}
.form-1 h1{
    font-size: 2.5rem;
    line-height: 1.5;

}
.form-1 p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: left;
}
.form-2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.form-3 , .form-4{
    display: grid;
    gap: 30px;
}
.lab{
    display: grid;
}
.lab label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem; 
}
.lab input , .lab select{
    width: 295px;
    height: 50px;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.form-4 button{
    width: 295px;
    height: 50px;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 9px;
    margin-top: 40px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.form-4 button:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.form-img img{
    width: 350px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.footer{
    padding: 5.8rem 0px;
    border-top: 1px solid rgb(238, 238, 238);

}

.grid-footer{
    display: flex;
    padding: 4rem;
    gap: 8px;
}
.grid-footer .left, .grid-footer .right{
    display: flex;
}
.grid-1{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    width: 200px;
    padding-bottom: 30px;
}
.list-icon{
    display: flex;
    list-style: none;
    gap: 2.4rem;
    padding: 0;
    margin-bottom: 60px;
    
       
}
.list-icon li{
    width: 20px;
    
}
.grid-1 h4{
    font-size: 13px;
    line-height: 1.6;
    color: rgb(118, 118, 118);
    margin-top: auto;
}
.footer-heading{
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 0;
    color: rgb(54, 49, 49);
}
.contact{
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3;
}
.contact p{
    margin-bottom: 2rem;
    color: rgb(118, 118, 118);

}
.contact-link{
    font-size: 1rem;
    color: rgb(118, 118, 118);
    text-decoration: none;
    transition: 0.3s;
    line-height: 2rem;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.7rem;
    margin: 0;
    padding: 0;
}
.footer-link{
    font-size: 1rem;
    color: rgb(118, 118, 118);
    text-decoration: none;
    
}
